<h2>Datos generales del paciente</h2>

<div class="my-3">
  <app-client-info></app-client-info>
</div>

<h2>Nuevo registro médico</h2>

<mat-stepper orientation="horizontal">
  <mat-step label="Pre-clínica">
    <div class="mb-4">
      <h2 class="mt-2 mb-2">Datos consulta</h2>
      <div class="row">
        <mat-form-field appearance="outline" class="col-sm-4">
          <mat-label>Fecha de consulta</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Historia de enfermedad actual</mat-label>
          <textarea matInput placeholder="Historia de enfermedad actual"></textarea>
        </mat-form-field>
      </div>

      <h2 class="mt-4 mb-2">Signos vitales</h2>
      <div class="row">
        <mat-form-field appearance="outline" class="col">
          <mat-label>Frecuencia cardíaca</mat-label>
          <input type="number" matInput placeholder="Frecuencia cardíaca">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>Frecuencia respiratoria</mat-label>
          <input type="number" matInput placeholder="Frecuencia respiratoria">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>Presión arterial</mat-label>
          <input matInput placeholder="Presión arterial">
          <mat-hint align="end">mmHg</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col">
          <mat-label>Temperatura</mat-label>
          <input type="number" matInput placeholder="Temperatura">
          <mat-hint align="end">Celsius</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div>
      <button mat-raised-button matStepperNext class="mx-1" color="accent">Siguiente</button>
    </div>
  </mat-step>
  <mat-step label="Examen físico">
    <div class="mb-4">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Neurologico</mat-label>
        <textarea matInput placeholder="Neurologico"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>ORL</mat-label>
        <textarea matInput placeholder="ORL"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>C/P</mat-label>
        <textarea matInput placeholder="C/P"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>ABD</mat-label>
        <textarea matInput placeholder="ABD"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Genitourinario</mat-label>
        <textarea matInput placeholder="Genitourinario"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>EXT</mat-label>
        <textarea matInput placeholder="EXT"></textarea>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button matStepperPrevious class="mx-1">Anterior</button>
      <button mat-raised-button matStepperNext class="mx-1" color="accent">Siguiente</button>
    </div>
  </mat-step>
  <mat-step label="Diagnósticos">
    <div class="mb-4">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Diagnóstico</mat-label>
        <textarea matInput placeholder="Diagnóstico"></textarea>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button matStepperPrevious class="mx-1">Anterior</button>
      <button mat-raised-button matStepperNext class="mx-1" color="accent">Siguiente</button>
    </div>
    <!-- TODO: Eliminar estas notas visiales en HTML -->
    <div class="my-3">
      <p><i>*Agregar en este campo campos o listado de diagnosticos con detalles de cada uno </i></p>
    </div>
  </mat-step>
  <mat-step label="Tratamientos">
    <div class="mb-4">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Tratamiento</mat-label>
        <textarea matInput placeholder="Tratamiento"></textarea>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button matStepperPrevious class="mx-1">Anterior</button>
      <button mat-raised-button matStepperNext class="mx-1" color="accent">Siguiente</button>
    </div>
    <!-- TODO: Eliminar estas notas visiales en HTML -->
    <div class="my-3">
      <p><i>*Agregar en este campo campos o listado de tratamientos con detalles de cada uno </i></p>
    </div>
  </mat-step>
  <mat-step label="Observaciones">
    <div class="mb-4">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Observaciones</mat-label>
        <textarea matInput placeholder="Observaciones"></textarea>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button matStepperPrevious class="mx-1">Anterior</button>
      <!-- Button trigger modal -->
      <button mat-raised-button class="mx-1" color="primary" data-bs-toggle="modal" data-bs-target="#confirmModal" >Finalizar consulta</button>
    </div>
    <!-- TODO: Eliminar estas notas visiales en HTML -->
    <div class="my-3">
      <p><i>*Agregar en este campo lo que podrian ser las fotos o scans de examenes </i></p>
    </div>
  </mat-step>
</mat-stepper>


<!-- Modals -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>¿Estás seguro de finalizar la consulta?</h3>
      </div>
      <div class="modal-footer">
        <button mat-raised-button data-bs-dismiss="modal" class="mx-1">Cancelar</button>
        <button mat-raised-button color="primary" class="mx-1">Guardar consulta</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3>¿Estás seguro de actualizar los datos?</h3>
      </div>
      <div class="modal-footer">
        <button mat-raised-button data-bs-dismiss="modal" class="mx-1">Cancelar</button>
        <button mat-raised-button color="primary" class="mx-1">Actualizar datos</button>
      </div>
    </div>
  </div>
</div>

