<!-- Menu principal -->
<app-main-menu (onOpened)="chanceState( $event )"></app-main-menu>

<!-- Contenido del sidenav -->
<mat-sidenav-container *ngIf="dataUser.status === true; else login">
  <mat-sidenav [(opened)]="opened" mode="side">
    <!-- Contenido del sidenav -->
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Contenido de página -->
    <div class="container my-3">
      <app-main-record></app-main-record>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- Contenido del inicio de sesión -->
<ng-template #login>
  <app-login></app-login>
</ng-template>

