<div class="form-content">
  <form>
    <div class="form-header">
      <img src="../../../../assets/logo-empresa.jpeg" alt="Logo de la empresa" class="img-fluid">
      <h2>Inicio de sesión</h2>
      <p>Ingresar el correo y contraseña proporciado por la institución</p>
    </div>
    <div class="mb-3">
      <label for="inputEmail1" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="inputPassword1" class="form-label">Constraseña</label>
      <input type="password" class="form-control" id="inputPassword1">
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button mat-raised-button color="primary" class="btn">Iniciar sesión</button>
  </form>
</div>